/* .container{
  background-color: #e76f0d;
  height: 600px;
 
}

.custom-card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      border-radius: 12px;
      overflow: hidden;
    }

    .custom-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    }

    .custom-card img {
      height: 200px;
      object-fit: cover;
    }

    .custom-btn {
      background-color: #e76f0d;
      color: rgb(222, 215, 215);
      border: none;
      width: 50%;
      margin-left: 5rem;
    }
    .custom-btn:hover {
      background-color: #e76f0d;
    } */
     
    /* profile css */
    .btn{
      background-color: #ff6464;
      color: #fff
    }

    .btn:hover{
      background: #ff6464;
      color: #fff
    }
    .recentpost{
      background-color:#EDF7FA !important;
    }
.card-title{
  font-weight: bolder;
}
li,a{
font-weight: bolder;
}

.containar{
  overflow: hidden !important;
}